body {
  font-size: 100%;
  font-family: "ratio-display", "Fira Sans", "Source Sans Pro", sans-serif;
}

.notice__heading {
  font-size: 2.5rem;
  line-height: 1.4;
  font-weight: 300;
}

.notice__subhead {
  font-size: 1.1rem;
  line-height: 1.4;
  font-weight: 300;
}

.notice__wrapper {
  margin: auto;
  max-width: 43rem;
  text-align: center;
  margin-top: 6rem;
}

@media (max-width: 700px) {
  .notice__wrapper {
    margin-top: 5rem;
  }
}

@media (max-width: 400px) {
  .notice__wrapper {
    margin-top: 2rem;
  }

  .logo {
    height: 10em;
    width: 10em;
  }

  .notice__heading {
    font-size: 2rem;
  }
}

.wf-inactive .notice__heading {
  font-size: 2.2rem;
}


.nav__listitem {
  list-style: none;
  display: inline-block;
  padding: 5vh 5vw;
  text-align: right;
}

nav ul { margin: 0; padding: 0; }

nav {
  border-bottom: 2px solid rgba(0,0,0,0.1);
  height: 20vh;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  width: 80vw;
  font-size: 1.2rem;
}

.nav__link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 0.4rem;
}

.nav__link:hover {
  color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid rgba(255, 1, 33, 1);
}

.nav__linkslist {
  min-width: 50vw;
  float: right;
  text-align: right;
}

.nav__logo {
  width: 30vw;
  float: left;
}

.nav__logo_image {
  height: 3vw;
  width: 3vw;
  padding-top: 2vh;
}

.nav__logo_type {
  padding: 5vh 1vw;
  display: inline-block;
  vertical-align: top;
}
